:root {
    --vtoggle-off: -25px;
    --vtoggle-on: -14px;

    --htoggle-off: 11.5px;
    --htoggle-on: 0px;

    --primary:   rgb(255, 255, 255);
    --secondary: rgb(236, 238, 240);
    --hover:     rgb(164, 168, 174);
    --text:      rgb(31, 35, 40);
    --text-sec:  rgb(89, 93, 99);
    --toggle:    rgb(164, 168, 174);
    --bg-img:    rgb(236, 238, 240);
    --bg-accent: rgb(164, 168, 174);

    --transition-duration: 0.5s;
    --dark-mode-toggle-side: var(--vtoggle-off);
}

html.dark-mode {
    --primary:   rgb(13, 17, 23);
    --secondary: rgb(1, 4, 9);
    --hover:     rgb(38, 44, 54);
    --text:      rgb(240, 246, 239);
    --text-sec:  rgb(192, 195, 192);
    --toggle:    rgb(38, 44, 54);
    --bg-img:    rgb(33, 38, 47);
    --bg-accent: rgb(1, 4, 9);

    --dark-mode-toggle-side: var(--vtoggle-on);
}


body {
    background-color: var(--primary);
    color: var(--text);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    transition: background-color var(--transition-duration), color var(--transition-duration), border-color var(--transition-duration);
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.heading {
    text-align: center;
    margin-top: -15px;
    margin-bottom: -15px;
}

.heading h1 {
    font-size: 40px;
}

.heading p {
    font-size: 14px;
    color: var(--text-sec);
    transition: color var(--transition-duration);
}

nav {
    position: fixed;
    width: 100%;
    top: 8px;
    z-index: 1;
}

nav ul {
  list-style-type: none;
  margin: -8px;
  padding: 0;
  overflow: hidden;
  background-color: var(--secondary);
  border-bottom: 1px solid var(--hover);
  transition: background-color var(--transition-duration), border-color var(--transition-duration);
}

nav ul li.left-nav {
    float: left;
    margin-left: 0px;
}

nav ul li.right-nav {
  float: right;
  margin-right: 0px;
}

nav ul li a {
  display: block;
  color: var(--text-sec);
  text-align: center;
  
  padding: 14px 16px;
  text-decoration: none;
  transition: background-color var(--transition-duration);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  transition: background-color 0.2s, color var(--transition-duration);
}

nav ul li a:hover {
  background-color: var(--hover);
}

.vtoggle input {
    cursor: pointer;
    width: 10px;
    height: 25px;
    border: 1px solid;
    border-radius: 7px;
    background-color: var(--secondary);
    border-color: var(--toggle);
    transition: background-color var(--transition-duration), color var(--transition-duration), border-color var(--transition-duration);
}

.vtoggle div {
    pointer-events: none;
    position: relative;
    height: 12px;
    width: 12px;
    background-color: var(--toggle);
    border: 1px solid var(--toggle);
    border-radius: 10px;
    top: var(--vtoggle-off);
    transition: top 0.3s;
}

.htoggle input {
    cursor: pointer;
    width: 26px;
    height: 14px;
    border: 1px solid;
    border-radius: 7px;
    background-color: var(--secondary);
    border-color: var(--toggle);
    transition: background-color var(--transition-duration), color var(--transition-duration), border-color var(--transition-duration);
}

.htoggle div {
    pointer-events: none;
    position: relative;
    height: 12px;
    width: 12px;
    background-color: var(--toggle);
    border: 1px solid var(--toggle);
    border-radius: 10px;
    top: -17px;
    left: 1px;
    transition: top 0.3s;
}


#dark-mode-toggle {
    margin-top: 12px;
    margin-bottom: -15px;
    margin-right: 10px;
    margin-left: 10px;
}

#dark-mode-toggle div {
    top: var(--dark-mode-toggle-side);
}

.nav-icon {
    position: relative;
    display: inline-block;
    width: 24px;
    height: 24px;
    cursor: pointer;
    font-size: 20px;
    top: 7px;
}

.nav-icon a {
  background-color: inherit;
  text-decoration: none;
}

.nav-icon a:hover {
  background-color: inherit;
  text-decoration: none;
}

.social-bg {
    color: var(--hover);
    transition: color var(--transition-duration);
    top: 0px;
}

.social-icon {
    color: var(--secondary);
    transition: color var(--transition-duration);
    top: 5px;
    margin-left: 5px;
}


#background-img {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;

    background-color: var(--bg-img);
    background-image: url("background.jpg");
    background-repeat: repeat;
    background-blend-mode: multiply;

    transition: background-color var(--transition-duration);
}


#main-body {
        margin-top: 64px;
        margin-left: 5%;
        margin-right: 5%;
        padding: 20px;

        background-color: var(--primary);
        border: 1px solid var(--bg-accent);
        transition: background-color var(--transition-duration), border-color var(--transition-duration);
}

.section h2 {
    font-size: 30px;
    margin-bottom: -10px;
}

.section p, li {
    margin-left: 20px;
    line-height: 1.5;
    color: var(--text-sec)
}

.section li {
    margin-right: 20px;
}


#download-button {
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0%);
    
    margin-top: 10px;
    padding: 2px 12px;
    width: fit-content;
    background-color: var(--secondary);
    color: var(--text-sec);
    border: 1px solid var(--hover);
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px;
    transition: background-color var(--transition-duration), color var(--transition-duration);
}

#download-button p {
    padding-right: 20px;
}